<?php
$CONFIG = array (
  'instanceid' => 'ocxelmhf7fwn',
  'passwordsalt' => 'v+yfVQR86uzOkZDl83NwCL6xghcpHF',
  'secret' => 'k61xcW6gnwkBeCe54vFWAnlsnO9V4OFY2HId1s+LFUduN4W4',
  'trusted_domains' => 
  array (
	  0 => '{{ host_ip }}',
	  1 => '{{ hostname }}'
  ),
  'datadirectory' => '/var/www/html/nextcloud/data',
  'dbtype' => 'mysql',
  'version' => '22.1.0.1',
  'overwrite.cli.url' => 'https://{{ hostname }}',
  'dbname' => '{{ nextcloud_db }}',
  'dbhost' => 'localhost',
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'mysql.utf8mb4' => true,
  'dbuser' => '{{ nextcloud_user }}',
  'dbpassword' => '{{ nextcloud_pass }}',
  'installed' => true,
  'maintenance' => false,
  'ldapIgnoreNamingRules' => false,
  'ldapProviderFactory' => 'OCA\\User_LDAP\\LDAPProviderFactory',
  'app_install_overwrite' => 
  array (
    	0 => 'ownbackup',
  ),
  'mail_from_address' => 'admin',
  'mail_smtpmode' => 'smtp',
  'mail_sendmailmode' => 'smtp',
  'mail_domain' => '{{ domain.global }}',
  'mail_smtpsecure' => '{{ nextcloud_mail_secure }}',
  'mail_smtpauthtype' => 'LOGIN',
  'mail_smtpauth' => {{ nextcloud_mail_auth }},
  'mail_smtphost' => '{{ nextcloud_mail_host }}',
  'mail_smtpport' => '{{ nextcloud_mail_port }}',
  'mail_smtpname' => '{{ nextcloud_smtp_user }}',
  'mail_smtppassword' => '{{ nextcloud_smtp_pass }}',
  'default_language' => 'ru',
  'force_language' => 'ru',
  'default_locale' => 'ru_RU',
  'default_phone_region' => 'RU',
  'remember_login_cookie_lifetime' => 60*60*24*15,
  'session_lifetime' => 60 * 60,
  'allow_user_to_change_display_name' => true,
  'auth.bruteforce.protection.enabled' => true,
  'memcache.local' => '\OC\Memcache\APCu',
  'redis' => [ 
          'host' => 'localhost',
          'port' => 6379,
          'timeout' => 0.0,
          'read_timeout' => 0.0,
   ],
);

